<div class="container">
    <div class="card">
       <div class="card-header">
            <h3>Adicionar Personas</h3>
       </div>
       <div class="card-body">
        <form (ngSubmit)="Guardar()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="">Id:</label>
                <input type="text" id="id" name ="id" class="form-control" [(ngModel)]=id required>
        </div> 
            <div class="form-group">
         <label for="">Nombres:</label>
         <input type="text" id="name" name ="name" class="form-control" [(ngModel)]=name required>
        </div> 
         <div class="form-group">
         <label for="">Apellidos:</label>
         <input type="text" id="apellidos" name ="apellidos" class="form-control" [(ngModel)]=apellidos required>
        </div>
        <div class="form-group">
            <label for="">documento:</label>
            <input type="text" id="documento" name ="documento" class="form-control" [(ngModel)]=documento required>
           </div>
           <div class="form-group">
            <label for="">correo:</label>
            <input type="text" id="correo" name ="correo" class="form-control" [(ngModel)]=correo required>
           </div>
           <div class="form-group">
            <label for="">genero:</label>
            <input type="text" id="genero" name ="genero" class="form-control" [(ngModel)]=genero required>
           </div>
           <div class="form-group">
            <label for="">edad:</label>
            <input type="text" id="edad" name ="edad" class="form-control" [(ngModel)]=edad required>
           </div>
           <div class="form-group">
            <label for="">pasatiempo:</label>
            <input type="text" id="pasatiempo" name ="pasatiempo" class="form-control" [(ngModel)]=pasatiempo required>
           </div>           <button (click)="Guardar()" class="btn btn-info" style="margin:10px;">Nuevo</button>
    </form>
    </div>     
    </div>
    </div>

